@import url("https://fonts.googleapis.com/css2?family=");
body {
  background-color: #1e1e1e;
  color: #ced4d4;
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
}
.page-1 {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-evenly;
  display: grid;
  grid-template-rows: 1.5fr 2fr 1fr 2fr 2fr;
  min-height: 100vh;
  width: 100vw;
  h1 {
    // font-family: 'Zen Antique', serif;
    font-weight: 400;
    font-size: clamp(28px, 2.5vw, 40px);
    text-align: center;
    align-self: center;
    justify-self: center;
    span {
      color: #0b578a;
    }
  }
  #markit {
    width: 80%;
    min-height: 90%;
    border: 2px solid #0b578a;
    padding: 2rem;
    border-radius: 1em;
    align-self: center;
    justify-self: center;
    font-family: "JetBrains Mono", monospace;
    background-color: #1e1e1e;
    color: #ced4d4;
  }
  h2 {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .output-heading {
    font-weight: 500;
  }
  .output {
    border: 2px solid black;
    padding: 1rem;
    width: 80%;
  }
}
